---
const { title, description, url, image_url, image_alt } = Astro.props

import { Image } from "astro:assets";
import { getLangFromUrl, useTranslations } from "../i18n/utils";
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

---
<a href={url} class="hover:cursor-pointer">
<div
    class="group p-6 sm:p-8 rounded-3xl bg-white border border-gray-100 dark:shadow-none dark:border-gray-700 dark:bg-gray-800 bg-opacity-50 shadow-2xl shadow-gray-600/10"
>
    <div class="relative overflow-hidden rounded-xl">
        <Image
            src={image_url}
            alt={image_alt}
            loading="eager"
            decoding="sync"
            loading="eager"
            width="1000"
            height="667"
            class="h-64 w-full object-cover object-top transition duration-500 group-hover:scale-105"
        />
    </div>
    <div class="mt-6 relative">
        <h3 class="text-2xl font-semibold text-gray-800 dark:text-white">
            {title}
        </h3>
        <p class="mt-6 mb-8 text-gray-600 dark:text-gray-300">
            {description}
        </p>
        
            <span class="hover:text-primary text-blue-400">{t("blog.readmore")}</span>
        </div>
    </div>
</a>
